<!DOCTYPE html>
<html lang="fr" class="h-full">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body class="h-full">
    <div class="flex h-full overflow-y-hidden">
      <div
        class="flex flex-col items-center justify-between px-4 py-8 bg-custom w-64 text-white"
      >
        <div class="flex flex-col items-center">
          <a class="block w-full text-center uppercase mb-4 pb-6" href="/">
            E-mail Café
          </a>
          <img class="w-20 my-5" src="/img/coffee.png" />
          <div class="font-bold"><%= login %>@e-mail.cafe</div>
          <button
            type="button"
            class="relative inline-flex items-center mt-8 bg-transparent rounded-md border border-transparent bg-white px-4 py-2 text-sm font-medium text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
              />
            </svg>

            <span>Privatiser cette boîte</span>
          </button>
        </div>

        <div class="flex flex-col items-center w-full">
          <div class="flex flex-col items-center">
            <a href="/about" class="mb-2 hover:text-black">Besoin d'aide ?</a>
            <a href="/cgu" class="hover:text-black">CGU</a>
          </div>
          <div class="mt-6 text-sm">
            &copy; 2018 -
            <script>
              document.write(new Date().getFullYear());
            </script>
            E-mail Café
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-1 max-h-screen">
        <div class="flex-1">
          <main class="min-w-0 flex-1 border-t border-gray-200 xl:flex">
            <section
              aria-labelledby="message-heading"
              class="flex h-screen min-w-0 flex-1 flex-col overflow-hidden xl:order-last"
            >
              <div class="min-h-0 flex-1 overflow-y-auto">
                <div class="bg-white pt-5 pb-6 shadow">
                  <div
                    class="px-4 sm:flex sm:items-baseline sm:justify-between sm:px-6 lg:px-8"
                  >
                    <div class="sm:w-0 sm:flex-1">
                      <h1
                        id="message-heading"
                        class="text-lg font-medium text-gray-900"
                      >
                        <% if (email) { %> <%= email.subject %><% } %>
                      </h1>
                      <p class="mt-1 truncate text-sm text-gray-500">
                        <% if (email) { %> <%= email.from %><% } %>
                      </p>
                    </div>
                    <div>
                      <span class="inline-flex sm:shadow-sm">
                        <button
                          type="button"
                          class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-50 focus:z-10 focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600"
                        >
                          <!-- Heroicon name: mini/arrow-uturn-left -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="mr-2.5 h-5 w-5 text-gray-400"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
                            />
                          </svg>
                          <span>Enregistrer</span>
                        </button>
                        <button
                          type="button"
                          class="relative -ml-px hidden items-center rounded-r-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-50 focus:z-10 focus:border-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-600 sm:inline-flex"
                        >
                          <!-- Heroicon name: mini/user-plus -->
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="mr-2.5 h-5 w-5 text-gray-400"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                            />
                          </svg>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Thread section-->
                <ul
                  role="list"
                  class="space-y-2 py-4 sm:space-y-4 sm:px-6 lg:px-8 flex-1"
                >
                  <li class="bg-white px-4 py-6 sm:rounded-lg sm:px-6">
                    aoez ihazeio hazieuahze iu Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Iure cum itaque possimus
                    libero. A porro illum, delectus officiis exercitationem sint
                    ipsam cum nesciunt magni obcaecati in voluptas quos ipsa.
                    Soluta.
                  </li>
                </ul>
              </div>
            </section>

            <!-- Message list-->
            <aside class="hidden xl:order-first xl:block xl:flex-shrink-0">
              <div
                class="relative overflow-y-auto flex h-screen w-96 flex-col border-r border-gray-200 bg-gray-100"
              >
                <div class="flex-shrink-0">
                  <div class="flex h-16 flex-col justify-center bg-white px-6">
                    <div class="flex items-baseline space-x-3">
                      <h2 class="text-lg font-medium text-gray-900">
                        Boîte de réception
                      </h2>
                      <p class="text-sm font-medium text-gray-500">
                        <%= emails.length %> message<%= emails.length > 1 ? 's'
                        : '' %>
                      </p>
                    </div>
                  </div>
                  <div
                    class="border-t border-b border-gray-200 bg-gray-50 px-6 py-2 text-sm font-medium text-gray-500"
                  >
                    Trié par date
                  </div>
                </div>
                <nav
                  aria-label="Message list"
                  class="min-h-0 flex-1 overflow-y-auto"
                >
                  <ul
                    role="list"
                    class="divide-y divide-gray-200 border-b border-gray-200"
                  >
                    <% if (emails) { emails.forEach((val, i) => { %>

                    <li
                      class="relative bg-white py-5 px-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600 hover:bg-gray-50"
                    >
                      <div class="flex justify-between space-x-3">
                        <div class="min-w-0 flex-1">
                          <a href="#" class="block focus:outline-none">
                            <span
                              class="absolute inset-0"
                              aria-hidden="true"
                            ></span>
                            <p
                              class="truncate text-sm font-medium text-gray-900"
                            >
                              <%= val.from %>
                            </p>
                            <p class="truncate text-sm text-gray-500">
                              <%= val.subject %>
                            </p>
                          </a>
                        </div>
                        <time
                          datetime="2021-01-27T16:35"
                          class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500"
                          ><%= val.date %></time
                        >
                      </div>
                      <div class="mt-1">
                        <p class="text-sm text-gray-600 line-clamp-2">
                          Doloremque dolorem maiores assumenda dolorem facilis.
                          Velit vel in a rerum natus facere. Enim rerum eaque
                          qui facilis. Numquam laudantium sed id dolores omnis
                          in. Eos reiciendis deserunt maiores et accusamus quod
                          dolor.
                        </p>
                      </div>
                    </li>

                    <% }); } %>
                  </ul>
                </nav>
              </div>
            </aside>
          </main>
        </div>
        <div class="flex items-center justify-between">
          <div>LIens</div>
          <div>©</div>
        </div>
      </div>
    </div>
  </body>
</html>
